appdirs==1.4.4
asgiref==3.2.7
backcall==0.1.0
colorama==0.4.3
decorator==4.4.2
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.6
django-crispy-forms==1.9.1
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.0.4
importlib-metadata==1.6.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
joblib==0.14.1
jupyter-client==6.1.2
jupyter-core==4.6.3
jupyter-utils==1.2.6
numpy==1.22.0
opencv-python==4.1.2.30
parso==0.6.2
pbr==5.4.4
pickleshare==0.7.5
prompt-toolkit==3.0.5
psycopg2==2.8.5
psycopg2-binary==2.8.5
pydotplus==2.0.2
Pygments==2.6.1
pyparsing==2.4.6
pypiwin32==223
python-dateutil==2.8.1
python-utils==2.4.0
pytz==2020.1
pywin32==228
pyzmq==19.0.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sqlparse==0.3.1
tornado==6.0.4
traitlets==4.3.3
utils==1.0.1
virtualenv==20.0.20
virtualenvwrapper-win==1.2.6
wcwidth==0.1.9
whitenoise==5.1.0
zipp==3.1.0
